<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="A really cool site!">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <img src="{{ url_for('static', filename='img/coding_dojo_logo.png') }}">
        <h1 class="navbar-brand">Coding Dojo: Great Number Game</h1>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <section>
        <div class="container text-center">
            <div class="row">
                <div class="col mt-5">
                    <h1 class="mt-4">Welcome to the Great Number Game!</h1>
                    <h3 class="mt-4">I am thinking of a number between 1 and 100</h3>
                    <h5 class="mt-3">Take a guess!</h5>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="{{ session['color']}}">
                        <div class="displayText">
                            {{ session['text'] }}
                        </div>
                    </div>

                    <div class="">
                        <h5>{{ session['count_text'] }}</h5>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <form action="/{{ session['action'] }}" method='post'>
                        <input class='input mt-3 mb-2' type="text" name='number'>
                        <div>
                            <button type="submit" class="btn btn-primary mt-3">{{ session['button'] }}</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </section>

</body>

</html>